@define-color trasnp_bg    rgba(9, 13, 20, 0.40);
@define-color text       #eef3ff;

@define-color main_bg  rgba(180,190,254,0.18);

@define-color chip_hover rgba(255,255,255,0.08);
@define-color work       #b4befe;
@define-color warning    #ff6b6b;

* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 16px;
  font-weight: 700;
  color: @text;
  border: none;
}

window#waybar {
    background: @trasnp_bg;
    border-radius: 18px;
}

.modules-left, .modules-center{
  margin: 8px;
  padding: 5px 16px;
  border-radius: 18px;
}

.modules-right{
    border-radius: 18px;
    margin: 8px;
}

#custom-power{
    font-size: 40px;
    color: rgba(23, 255, 33, 1);
}
.modules-right .module {
  margin-left: 20px;
}

.modules-left, .modules-center, .modules-right{
    background: @main_bg;
}


/* ---------- Workspaces ---------- */
#workspaces button {
  margin: 3px;
  border-radius: 12px;
  background: rgba(180,190,254,0.18);
  transition: background .15s ease;
}

#workspaces button.active {
  background: @work; color: #0b1220;
  box-shadow: 0 2px 10px rgba(180,190,254,0.45);
}


